@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700&display=swap');

:root {
  --body-bg-color: #000;
  --main-bg-color: #333;
  --main-font-color: #000;
  --tooltip-bg-color: #fff;
  --tooltip-font-color: #000;
  --bar-color: #85bb65;
  --bar-hover-color: gold;
  --btn-font-color: #fff;
  --axis-font-color: #fff;
  --link-color: gold;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--body-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

main {
  width: 1200px;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0.5em 0 0 0;
}

form {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 850px;
  margin-left: 1em;
  margin-bottom: 1em;
}

.inputBox {
  align-self: center;
}

.bar {
  fill: var(--bar-color);
}

.bar:hover {
  fill: var(--bar-hover-color);
}

#tooltip {
  position: absolute;
  top: 300px;
  visibility: hidden;
  width: 150px;
  height: 55px;
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-font-color);
  padding: 0.5em;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

g {
  color: var(--axis-font-color);
}

text {
  fill: var(--axis-font-color);
}

article {
  position: relative;
}

#showData {
  cursor: pointer;
  background: var(--bar-color);
  border: none;
  padding: 1em;
  border-radius: 3px;
  color: var(--btn-font-color);
}

a {
  color: var(--link-color);
}
a:visited {
  color: var(--bar-color);
}

article {
  min-height: 454px;
}
