* {
  box-sizing: border-box;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article {
  width: 1200px;
  height: 600px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar:hover {
  fill: gold;
}

#tooltip {
  position: absolute;
  top: 300px;
  visibility: hidden;
  width: 150px;
  height: 55px;
  background-color: rgba(51, 51, 51, 0.75);
  color: gold;
  padding: 0.5em;
}

article {
  position: relative;
}
